<html lang="en">
<head>
    <title>Set MPC Cookie</title>
    <style>
        body {
            padding: 40px;
            font-family: Helvetica, Arial, sans-serif;
            font-size: 3em;
        }
    </style>
</head>
<body>
    Invalid code
</body>
</html>
