<html lang="en">

<head>
  <title>Set MPC Cookie</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.22.0/themes/prism-tomorrow.min.css">

  <style>
    body {
      padding: 40px;
      font-family: Helvetica, Arial, sans-serif;
      font-size: 1em;
    }

    label {
      font-weight: bold;
      font-size: 1.1em;
    }

    #cookie {
      width: 100%;
      margin: 0.5em 0;
      padding: 8px;
    }

    input[type="submit"] {
      text-transform: uppercase;
      font-size: 1rem;
      letter-spacing: 1px;
      padding: 0.5rem 1rem;
    }

    .instructions {
      margin-top: 3rem;
    }

    li {
      margin-bottom: 0.5rem;
    }

    pre[class*="language-"] {
      position: relative;
      overflow: auto;

      /* make space  */
      border-radius: 10px;
    }

    pre[class*="language-"] button {
      position: absolute;
      top: 5px;
      right: 5px;

      font-size: 0.9rem;
      padding: 0.15rem;
      background-color: #828282;

      border: ridge 1px #7b7b7c;
      border-radius: 5px;
      text-shadow: #c4c4c4 0 0 2px;
    }

    pre[class*="language-"] button:hover {
      cursor: pointer;
      background-color: #bcbabb;
    }
  </style>
</head>

<body>
  <form action="/set_cookie" method="POST">
    <input type="hidden" name="code" value="<%= code %>" />
    <label for="cookie">Cookie:</label><br>
    <input type="text" name="cookie" id="cookie">
    <br />
    <input type="submit" value="Submit">
  </form>
  <div class="instructions">
    <h3>To get the cookie:</h3>
    <ol>
      <li>Log into the Arkham Horror Homebrew MPC account.</li>
      <li>Open developer tools in your browser and go to the Console tab.</li>
      <li>Paste the following code into the console:<br />
        <pre>
<code class="language-javascript">copy(Object.fromEntries(document.cookie.split("; ").map(v => v.split('=',2))).PrinterStudioCookie)</code>
          </pre>
      </li>
      <li>This will copy the cookie to your clipboard.</li>
      <li>Paste the cookie into the input above and submit.</li>
      <li>Thank you for fighting the good fight to keep homebrew printing available!</li>
    </ol>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.26.0/prism.min.js"></script>
  <script>
    const copyButtonLabel = "Copy Code"
    const copiedButtonLabel = "Code Copied"

    function addButton() {
      const blocks = document.querySelectorAll("pre")
      blocks.forEach(block => {
        const button = document.createElement("button")
        button.innerText = copyButtonLabel
        button.addEventListener("click", () => copyCode(block, button))
        block.appendChild(button)
      })
    }

    async function copyCode(block, button) {
      const code = block.querySelector("code")
      await navigator.clipboard.writeText(code.innerText)

      button.innerText = copiedButtonLabel
      setTimeout(() => {
        button.innerText = copyButtonLabel
      }, 700)
    }

    // only add button if browser supports Clipboard API
    if (navigator.clipboard) {
      addButton()
    }
  </script>
</body>

</html>
