<form action="/set_cookie" method="POST">
  <input type="hidden" name="code" value="<%= code %>"/>
  <label for="cookie">Cookie:</label><br>
  <input type="text" name="cookie" name="cookie">
  <br/>
  <input type="submit" value="Submit">
</form>
