// Accordion

h3.accordion-header {
  margin: 0;
}

.accordion-button {
  font-family: $font-family-slab;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.54;

  > span {
    margin-right: 1rem;
  }

  &:not(.collapsed) {
    color: $white;
    background-color: transparent;
    box-shadow: none;

    > span {
      border-bottom: 8px solid $purple-100;
    }
  }
}

.accordion-item button,
.accordion-body {
  padding-left: 0;
}

.accordion-body {
  padding-bottom: 3rem;
}

@media screen and (min-width: 992px) {
  .accordion-body {
    padding-right: 4rem;
  }

  .accordion-button > span {
    margin-right: 2rem;
  }
}
