//Links

// Images 
img.float-end {
  margin: 10px 0 10px 20px;
}

img.float-start {
  margin: 10px 20px 10px;
}

img.w-100 {
  height: auto;
  margin: 10px 0;
}

.outline {
  border: 1px solid $body-secondary-color-dark;
}

//Header 
.navbar-brand {
  flex-basis: 380px;
  flex-shrink: 0;
}

.siteLogo,
.siteTitle {
  fill: var(--bs-emphasis-color);
}

.siteLogo {
  margin-right: 16px;
}

.siteTitle {
  font-size: $h2-font-size;
  line-height: 1.1;
  margin-top: 5px;
}

.tagline {
  font-family: $font-family-serif;
  font-size: 1rem;
  font-style: italic;
}

// Main
.intro,
.about,
.getting-started {
  a {
    text-underline-offset: 6px;
    
    &:hover,
    &:focus,
    &:active {
      border-bottom: 3px solid var(--bs-link-hover-color);
    }
  }
}

.lead {
  font-family: $font-family-serif;
}

.arkham-choice {
  a {
    font-weight: 700;
  }
}
