.cookie {
  label {
    font-weight: bold;
    font-size: 1.1em;
  }

  #cookie {
    width: 100%;
    margin: 0.5em 0;
    padding: 8px;
  }

  input[type="submit"] {
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 1px;
    padding: 0.5rem 1rem;
  }

  .instructions {
    margin-top: 3rem;
    line-height: 1.4;
  }

  .note {
    max-width: 920px;
  }

  li {
    margin-bottom: 0.5rem;
  }

  img {
    max-width: 100%;
  }

  pre[class*="language-"] {
    position: relative;
    overflow: auto;

    /* make space  */
    border-radius: 10px;
  }

  pre[class*="language-"] button {
    position: absolute;
    top: 5px;
    right: 5px;

    font-size: 0.9rem;
    padding: 0.15rem;
    background-color: #828282;

    border: ridge 1px #7b7b7c;
    border-radius: 5px;
    text-shadow: #c4c4c4 0 0 2px;
  }

  pre[class*="language-"] button:hover {
    cursor: pointer;
    background-color: #bcbabb;
  }
}
