// Intro
.intro {
  position: relative;
  font-family: $font-family-serif;
  background-image: url('/assets/images/act-1-mobile-top.png'),
                    url('/assets/images/act-1-mobile-bottom.png'),
                    url('/assets/images/act-1-mobile-stretch.png');
  background-position: top center,
                    bottom center,
                    top center;
  background-repeat: no-repeat;
  background-size:  contain,
                    contain,
                    cover;

  @include media-breakpoint-up(md) {
    background: transparent;
  }

  .intro-bg {
    object-fit: contain;
    position: relative;
  }

  .intro-content {
    font-size: 3vw;
    padding: 30% 15% 1% 5%;
  }

  .intro-body {
    color: #000;
    padding-bottom: 2.5rem;

    p {
      margin-bottom: 0.25rem;
      line-height: 1.1;
    }
  }

  .arkham-choice {
    margin-top: 1rem;

    p {
      margin-bottom: 0.5rem;
    }

    a {
      font-weight: 700;
      color: #6c1f25;

      &:hover,
      &:focus,
      &:active {
        color: #a4363c;
        border-bottom: 3px solid #a4363c;
      }
    }
  }

  .intro-footer {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;

    .form-check {
      color: #ffffff;

      .form-check-input {
        border-color: #fff;
      }

      &:hover,
      &:focus,
      &:active {
        border-width: 2px;
      }
    }

    .form-check-input:checked {
      background-color: #a4363c;
      border-color: #a4363c;
    }
  }

  @include media-breakpoint-up(sm) {
    .intro-content {
      //font-size: 1.75vw;
      //padding: 28% 12% 0 2%;
      font-size: 3vw;
      padding: 30% 15% 1% 5%;

      p {
        margin-bottom: 0.5rem;
      }
    }

    .intro-body {
      padding-bottom: 3.5rem;
    }

    .arkham-choice {
      p {
        margin-bottom: 0.25rem;
      }
    }
  }

  @include media-breakpoint-up(md) {
    .intro-content {
      position: absolute;
      top: 0;
      left: 0;
      width: 52%;
      font-size: 2vw;
      padding: 18% 0 0 2.5%;
      //padding: 30% 14% 0 4%;

      p {
        //margin-bottom: 0.5rem;
        //line-height: 1.15;
        margin-bottom: 0.35rem;
        line-height: 1.1;
      }
    }

    .intro-body {
      padding-bottom: 0;
    }

    .arkham-choice {
      margin-top: 0.5rem;

      p {
        margin-bottom: 0.25rem;
      }

      a {
        text-underline-offset: 6px;
      }
    }

    .intro-footer {
      margin-top: -7.5%;
    }

    @include media-breakpoint-up(lg) {
      .intro-content {
        //font-size: 1.125rem;
        padding: 18% 0 0 2.5%;
      }

      .arkham-choice {
        margin-top: 1rem;

        p {
          margin-bottom: 0.3rem;
        }
      }

      .intro-footer {
        margin-top: -5%;
      }
    }

    @include media-breakpoint-up(xl) {
      .intro-content {
        //font-size: 1.3rem;
        font-size: 1.9vw;
        width: 50%;
        padding: 18% 0 0 3%;
      }

      .intro-footer {
        margin-top: -4.5%;
      }
    }

    @include media-breakpoint-up(xxl) {
      .intro-content {
        font-size: 1.5rem;
        //font-size: 1.75vw;
        padding: 19% 0 0 3%;

        p {
          margin-bottom: 0.5rem;
        }
      }

      .intro-footer {
        margin-top: -4%;
      }
    }
  }
}
