// Cards
.projects {
  h2 {
    font-size: $h5-font-size;
    margin: 0.25rem 0 2px;
  }

  h3 {
    font-family: $font-family-sans-serif;
    font-size: 1.2rem;

    button.btn-link {
      font-weight: 300;
    }
  }

  h2,
  h3 {
    button {
      color: var(--bs-body-color);
      text-decoration: none;

      &:hover,
      &:active,
      &:focus {
        text-decoration: underline;
        color: var(--bs-link-hover-color);
      }
    }
  }

  .card {
    @include media-breakpoint-down(md) {
      border-color: rgba(255, 255, 255, 0.35);
    }
  }

  .card-body {
    background-color: var(--bs-card-cap-bg);
  }

  .card-link {
    @include fancy-underline;

    & + .card-link {
      margin-left: 0;
      margin-top: 0 !important;
    }
  }

  .info-tooltip {
    margin-left: auto;
  }
}

// Tooltip
.tooltip.illustrator-tooltip {
  inset: -1.8rem 0 auto auto !important;

  .tooltip-arrow {
    display: none;

    &::before {
      content:'';
    }
  }

  .tooltip-inner {
    max-width: 300px;
    height: 1.5rem;
    background-color: rgba(0,0,0,.65);
    text-align: right;
    color: #ffffff;
    border-radius: 0;
  }
  //margin: -1.8rem 0 0.6rem;
  //font-size: .9rem;
  //inset: -1.5rem 0px auto auto !important;
}

// Buttons
button.download {
  width: 32px;
  height: 32px;
  margin-left: 4px;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.icon-dl {
  width: 18px;
  height: 18px;
  margin-top: -2px;
}

// Tags
.card-footer .hstack {
  flex-wrap: wrap;
}

.hstack.lang-pills,
.hstack.status-pills {
  display: inline-block;
}

.hstack.lang-pills {
  .badge:last-child {
    margin-right: 0.25rem;
  }
}

.status-changes-pending,
.status-needs-qa {
  > .badge {
    background-color: $purple !important;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='white' class='bi bi-exclamation-triangle' viewBox='0 0 16 16'%3E%3Cpath d='M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z'/%3E%3Cpath d='M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: left 8px center;
    padding-left: 24px;
  }
}

.status-project-available,
.lang-english {
  display: none;
}

.lang > .badge {
  background-color: $purple-200 !important;
  color: #000;
}

.status-not-available > .badge {
  background-color: var(--bs-red) !important;
}

// Filters
#filters:target {
  scroll-margin-top: 200px;
}

.filters {
  top: 105px;
  border-bottom: 1px solid $gray-600;

  &.sticky-top {
    margin-top: 0.75rem;
  }

  .navbar-toggler {
    svg {
      margin: 0 auto;

      &:hover,
      &:focus,
      &:active {
        color: #fff;
      }
    }
  }

  .navbar-nav {
    flex-wrap: wrap;
  }

  .nav-item {
    margin-right: 12px;

    .icon {
      fill: $btn-color;
      margin: 9px 4px 9px 0;
    }

    button {
      font-weight: 300;
      font-size: 1rem;
      padding-left: 2px;

      &.btn-link {
        text-decoration: none;
      }

      @include media-breakpoint-up(sm) {
        //font-size: 1.1rem;
      }

      @include media-breakpoint-up(md) {
        font-size: 1.1rem;
      }
    }
  }
}

.checkbox-menu {
  .dropdown-item {
    font-weight: 300;

    &:hover,
    &:active {
      background-color: transparent;
      color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));
    }

    .select-none {
      padding-left: 1.2rem;
    }
  }
}
