.projects {
  h2 {
    font-size: $h5-font-size;
    margin-bottom: 2px;
  }
  
  h3 {
    font-family: $font-family-sans-serif;
  }
    
  h2,
  h3 {    
    a {
      color: var(--bs-body-color);
      text-decoration: none;
      
      &:hover,
      &:active,
      &:focus {
        text-decoration: underline;
      }
    }
  }
}

button.download {
  width: 32px;
  height: 32px;
  margin-left: 4px;
}

.checkbox-menu {
  .dropdown-item {
    &:hover,
    &:active {
      background-color: transparent;
      color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));
    }
  }
}
